*.class
*.log
*.iml
.idea
.bsp/
target/
*.cache
build/
.gradle

.DS_Store
node_modules

als-node-client/node-package/tmp/
als-server/js/node-package/tmp/
als-server/js/node-package/dist/

*als-suggestions.js
*als-suggestions.js.map
*als-suggestions.min.js
*als-suggestions.min.js.map

*als-node-client.js
*als-node-client.js.map
*als-node-client.min.js
*als-node-client.min.js.map

*als-server.js
*als-server.js.map
*als-server.min.js
*als-server.min.js.map
/lsp/*
