language: scala
scala:
  - 2.12.11

before_script:
  # default $SBT_OPTS is irrelevant to sbt lancher
  - unset SBT_OPTS
  - export JAVA_OPTS="-Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -XX:-UseGCOverheadLimit"

script:
  - sbt testJVM
  - sbt commonJS/test
  - sbt actionsJS/test
  - sbt structureJS/test
  - sbt suggestionsJS/test
  - sbt serverJS/test
