/.idea
/node_modules

npm-debug.log

*.iml

.project
.settings
/.vscode

/browserVersion
/browser_version_npm

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts

/typings/

/dist/

/coverage
coverage.zip

raml-language-server.zip