#%RAML 0.8
title: Example API
version: 1
baseUri: https://api.dropbox.com/{version}
securitySchemes:
  - oauth_2_0_5:
      description: |
        Dropbox supports OAuth 2.0 for authenticating all API requests.
      type: x-{other}
  - oauth_2_0_4:
      description: |
        Dropbox supports OAuth 2.0 for authenticating all API requests.
      type: Digest Authentication
  - oauth_2_0_3:
      description: |
        Dropbox supports OAuth 2.0 for authenticating all API requests.
      type: Basic Authentication
  - oauth_2_0:
      description: |
        Dropbox supports OAuth 2.0 for authenticating all API requests.
      type: OAuth 2.0
      describedBy:
        headers:
          X-Frame-Options:
            description: |
               Used to send a valid OAuth 2 access token. Do not use
               with the "access_token" query string parameter.
            type: string
        queryParameters:
          access_token:
            description: |
               Used to send a valid OAuth 2 access token. Do not use with
               the "Authorization" header.
            type: string
        responses:
          401:
            description: |
                Bad or expired token. This can happen if the user or Dropbox
                revoked or expired an access token. To fix, re-authenticate
                the user.
          403:
            description: |
                Bad OAuth request (wrong consumer key, bad nonce, expired
                timestamp...). Unfortunately, re-authenticating the user won't help here.
      settings:
        authorizationGrants: [ authorization_code, password, implicit, client_credentials ]
        scopes:
